/Appointment.class
/CliniqueMain.class
/Doctor.class
/DoctorPatientEntries.class
/DoctorPatientImplementation.class
/InformationDisplay.class
/InformationDisplayImplimentation.class
/Patients.class
/SearchInterface.class
/SearchingImplementation.class
